body{
    font-family: 'Poppins', sans-serif;
}
.carousel-caption{
    bottom: 10rem;
}
.banner-image{
    max-height: 700px;
    object-fit: cover;
}
/* media queries */
/* small devices */
@media (max-width: 767px){
    .course img{
        width: 97%;
        height: 60%;
    }
    .course-height{
        height: 85vh;
    }
}
/* extra small devices */
@media (max-width: 575px){
    .course img{
        width: 97%;
        height: 60%;
    }
    .course-height{
        height: 100vh;
    }
}