*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.carousel-caption{
    bottom: 10rem;
}
.banner-image{
    max-height: 700px;
    object-fit: cover;
}